parameters:
  ascii:
    failed: resources/ascii/grumpy.txt
    succeeded: resources/ascii/happy.txt
  git_dir: .
  bin_dir: vendor/bin
  tasks:
    phplint: ~
    yamllint: ~
    composer: ~
    jsonlint: ~
    phpcpd: ~
    phpcpd:
      directory: './src'
    phpcs:
      standard: Drupal
    phpunit: ~
