<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="phpcs">
  <description>PHP Code Sniffer configuration</description>
  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal" />
  <rule ref="vendor/drupal/coder/coder_sniffer/DrupalPractice"/>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme,info,yml" />
  <config name="drupal_core_version" value="9" />
  <file>web/modules/custom</file>

  <rule ref="Drupal.Files.LineLength">
    <properties>
      <property name="lineLimit" value="120" />
      <property name="absoluteLineLimit" value="0" />
    </properties>
  </rule>

  <rule ref="Drupal.Arrays.Array">
<!--    <exclude name="Drupal.Arrays.Array.LongLineDeclaration"/>-->
<!--    <exclude name="Drupal.Arrays.Array.ArrayIndentation"/>-->
  </rule>

  <rule ref="Drupal">
    <exclude name="Drupal.Commenting.DocComment.ShortNotCapital"/>
    <exclude name="Drupal.Commenting.FunctionComment.TypeHintMissing"/>
    <exclude name="Drupal.Commenting.InlineComment.NotCapital"/>
    <exclude name="Drupal.Files.LineLength.TooLong"/>
    <exclude name="Drupal.NamingConventions.ValidVariableName.LowerCamelName"/>
    <exclude name="Drupal.Semantics.FunctionT.NotLiteralString"/>
    <exclude name="Drupal.Semantics.FunctionT.ConcatString"/>
    <exclude name="Drupal.Strings.UnnecessaryStringConcat.Found"/>
  </rule>

  <rule ref="Generic.CodeAnalysis.UselessOverridingMethod">
    <exclude name="Generic.CodeAnalysis.UselessOverridingMethod.Found"/>
  </rule>

</ruleset>
